
div#_37_panel.jimu-panel.jimu-on-screen-widget-panel.jimu-main-background {
	min-width: 450px !important;
    min-height: 500px !important;
}

.jimu-widget-editar-sias .contenedor {
	border: solid 1px #d9dde0;
	border-radius: 3px;
	/* border-bottom: solid 1px #d9dde0; */
	padding: 3px 11px 10px 11p;
	margin-bottom: 3px;
	padding: 10px;
}
