div#_36_panel.jimu-panel.jimu-on-screen-widget-panel.jimu-main-background {
	/* min-width: 700px !important;
    min-height: 500px !important; */
}

.div-subtitulo {
	font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}